ul {
    padding: 0;
    margin: 0;
}

li {
    display: inline-block;
    margin: 5px;
    font-size: 20px;
    padding: 5px;
}


:host {
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.3);
    background: #ffffff;
    display: block;
    width: 300px;
    padding: 20px;
    border: 1px solid #eeeeee;
    border-radius: 10px;
}